.info {
  width: 100%;
}
.info-container {
  /* min-height: 100vh; */
  background: #ffffff 0% 0% no-repeat padding-box;
  color: black;
  position: relative;
  min-height: calc(100vh - 70px);
}
.img-ellipse {
  position: absolute;
  top: 60%;
  bottom: 0%;
  left: -13%;
}

.basic-info-image {
  position: absolute;
  right: 0%;
  bottom: 0%;
  max-width: 37vw;
  max-height: 75vh;
}
.hero-body {
  position: absolute;
  left: 37%;
  top: 28%;
  transform: translate(-50%, -50%);
}
.font {
  font-family: "normal GT Walsheim Pro,Thin";
}

.close-icon {
  padding-left: 13px;
  padding-top: 6px;
}
.form-style-1 {
  max-width: 700px;
  padding-left: 192px;
  display: flex;
  flex-direction: column;
  position: relative;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.input {
  display: flex;
  gap: 52px;
  margin-top: 5px;
}
/* float value */
.float-label {
  position: absolute;
  left: 2%;
  padding-top: 4px;
  font-size: 14px;
  color: #329191;
  transition: 0.2s ease all;
}
input:focus ~ .float-label,
input:not(:focus):valid ~ .float-label {
  top: -10%;
  font-size: 12px;
}
.form-group-input {
  position: relative;
}
.float-label:before {
  content: " *";
  color: red;
}
.country-form-group {
  position: relative;
  margin-top: 10px;
}
.country-label {
  position: absolute;
  left: 37%;
  padding-top: 4px;
  font-size: 14px;
  color: #329191;
  transition: 0.2s ease all;
}

.country-label:before {
  content: " *";
  color: red;
}

input:focus ~ .country-label,
input:not(:focus):valid ~ .country-label {
  top: -10%;
  font-size: 12px;
}
.radio-group {
  width: 70%;
}
.radio-group label {
  padding-right: 34px;
  /* margin: 0 10px 0 10px; */
}
.radio-group label::after {
  content: "\00a0\00a0\00a0\00a0"; /* eq &nbsp; x 4 */
}

/* optionnal */
.radio-group label:last-of-type::after {
  content: "";
}
.form-group {
  margin-top: 14px;
}
.radio-2 {
  margin-top: 3px;
}
.field-label {
  width: 30%;
}
.input-fields {
  width: 70%;
  display: flex;
  gap: 28px;
  justify-content: space-between;
}
.basic-heading {
  font-size: 40px;
  white-space: nowrap;
  font-family: "GT Walsheim Pro thin";
  color: #000000;
  opacity: 1;
}
.form-style-1 label {
  display: inline-block;
  /* font-weight: bold; */
}
.form-style-1 input[type="text"],
.form-style-1 input[type="date"],
.form-style-1 input[type="datetime"],
.form-style-1 input[type="number"],
.form-style-1 input[type="search"],
.form-style-1 input[type="time"],
.form-style-1 input[type="url"],
.form-style-1 input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #d5d5d5;
  padding: 12px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
/* .form-style-1 input[type="text"]:focus,
.form-style-1 input[type="date"]:focus,
.form-style-1 input[type="datetime"]:focus,
.form-style-1 input[type="number"]:focus,
.form-style-1 input[type="search"]:focus,
.form-style-1 input[type="time"]:focus,
.form-style-1 input[type="url"]:focus,
.form-style-1 input[type="email"]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
} */
.form-style-1 .field-divided {
  /* position: relative; */
}
.form-group-dropdown {
}
.form-style-1 .field-long {
  display: block;
  position: relative;
}
.form-style-1 .field-select {
  width: 70%;
}
.next-button {
  position: absolute;
  bottom: 7%;
  left: 32%;
}

.next {
  width: 160px;
  height: 36px;
  background: #09c2c3;
  border-radius: 25px;
  padding: 8px;
  border: none;
  color: #fff;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.form-style-1 .required {
  color: red;
}
.footer-part {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.footer-part span {
  font-size: 14px;
  padding: 7px;
  font-weight: 500;
}
.form-group-email {
  margin-top: 14px;
}
@media screen and (max-width: 1024px) {
  .start-profile {
    bottom: 0%;
  }
}

@media screen and (min-width: 1400px) {
  .img-ellipse {
    left: -9%;
  }
  .start-profile {
    left: 39%;
    bottom: 23%;
  }
}
