nav {
  background: #fff;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo {
  width: 120px;
}
.user-pic {
  width: 50px;
  border-radius: 50%;
}

.sub-menu-wrap {
  position: absolute;
  top: 70%;
  right: 3%;
  width: 203px;
  max-height: 400px;
  overflow: hidden;
  transition: max-height 0.5s;
  z-index: 1;
}
.sub-menu-wrap.open-menu {
  max-height: 400px;
}
.sub-menu {
  background: #fff;
  padding: 20px;
  margin: 10px;
}
.userProfile {
  display: flex;
  padding-right: 29px;
  column-gap: 10px;
}
.designation {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.drop-downIcon {
  padding-top: 29px;
  cursor: pointer;
}
.user-Name {
  color: #09c2c3;
  font-size: 14px;
}
.user-designation {
  font-size: 12px;
}
